@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
 }

body {
    margin: 0;
    font-family: "Lexend", sans-serif
}
.container {
    width: device-width;
    margin: 0 auto
}
.container_button {
    width: 220px;
    margin: 0 auto;
    margin-top: 90px;
}
.logo {
    display: block;
    margin: 0 auto;
    padding-top: 5px
}
.nav {
    width: 100%;
    height: 100px;
    background-color: #5f5f5f
}
.nav_about {
    text-decoration: none;
    position: absolute;
    right: 0;
    margin: 25px 25px 0 0;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    transition: .5s all
}
.nav_about:hover {
    transform: scale(1.1)
}
.main_title {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin: 50px 0 0 0
}
.main_desc {
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin: 50px 0 0 0
}
.instructions {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin: 50px 0 0 0
}
.main_hr {
    width: 60%;
    height: 3px;
    background-color: #000;
    margin-bottom: 100px
}
.main_wrapper {
    width: 1280px;
    display: grid;
    grid-template: 400px 400px 400px/400px 400px 400px;
    column-gap: 40px;
    /* -- */
    row-gap: 60px;
    margin: 0 auto
}
.delivery {
    width: 1280px;
    height: 400px;
	grid-column-start: span 3;/*
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid #000*/
}
.main_item {
    width: 400px;
    height: 400px;
    background-color: rgba(228, 228, 228, 0.8);
    border-radius: 10px;
    border: 2px solid #000;
    margin-top:130px;
    text-align: center;
}
.main_item_2, .main_item_3 {
    background-color: #b6b6b6
}
.main_item_4, .main_item_5, .main_item_6 {
    background-color: #858585
}
.delivery_wrapper {
	display: grid;
    grid-template: 62px 62px 62px /350px 80px 350px 80px;
    column-gap: 40px;
    width: 1280px;
    margin: 0 auto;
    margin-top: 10px;
	justify-content: center;
	padding: 15px
}
.main_item_wrapper {
    display: grid;
    grid-template: 62px 62px 62px 62px/290px 80px;
    /**/
    row-gap: 15px;
    width: 370px;
    margin: 0 auto;
    margin-top: 10px
}
.main_item_wrapper_v2 {
    grid-template: 62px 62px 62px/290px 80px;
    margin-top: 40px
}
.main_item_title {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    font-weight: 500
}
.main_item_descr {
    font-size: 20px;
    line-height: 62px
}
.main_item_input, .marakuja  {
    margin-top: 12px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 10px
}
.submit_button {
    width: 220px;
    height: 75px;
    background: #7bc782;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
    transition: .5s all;
    cursor: pointer;
}
.submit_button:hover {
    transform: scale(1.05);
    background: #17ac26;
    border: 2px solid #000
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #5f5f5f;
    margin-top: 50px
}
.footer_title {
    padding-top: 10px;
    text-align: center;
    color: #fff
}
.footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px
}
.footer_item {
    display: flex;  
    justify-content: space-between;
    transition: .5s all
}
.footer_item:hover {
    transform: scale(1.1)
}
.footer_descr {
    text-decoration: none;
    margin-left: 15px;
    color: #fff;
    font-size: 20px
}

.table_caption {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
}

.ghp, .mrp-m {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
}

.ghp td, .mrp-m td {
	font-size: 25px;
    border: 1px solid #E9EBED;
	padding: 5px;
}

.ghp th, .mrp-m th {
	font-size: 25px;
    font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #E9EBED;
}

.ghp .ghp-zv4m, .mrp-m .mrp-m-zv4m {
	text-align: center;
	vertical-align: top;
}


.ghp .ghp-0pky, .mrp-m .mrp-m-0pky  {
	border-color: inherit;
	text-align: center;
    font-weight: 600;

}

.mrp-m .mrp-m-c3ow, .ghp .mrp-m-c3ow {
	border-color: inherit;
	text-align: center;
	background-color: rgba(128, 128, 128, 0.281);
}

.table {
	display: none;
	background-color: #E9EBED;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 2px solid black;
	border-radius: 25px;
	margin: 0 auto;
    width: 1200px
}
/*
.tableghp {
	display: none;
	background-color: #E9EBED;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 2px solid black;
	border-radius: 25px;
	margin: 0 auto;
    width: 1200px
}
#ghp_table {
    overflow: visible;
}*/
.table_input {
    background-color: #E9EBED;
    border: none;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: "Lexend", sans-serif;
    width:50px; 
    height:50px; 
    margin:0px;
}
.arrow_img {
    max-width: 150px;
    max-height: 150px;
    padding: 15px;
    font-family: "Lexend", sans-serif;
}
input {
    border-color: black;
    background-color: #E9EBED;
    border: none;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: "Lexend", sans-serif;
    width:50px; 
    height:50px; 
    margin:0px;
}
.clear_button {
    width: 200px;
    height: 60px;
    background: #a0a0a0;
    border-radius: 20px;
    margin:30px;
    font-size: 20px;
    font-weight: 600;
    border-style: solid;
    border-color: black;
    transition: .5s all;
}

.clear_button:hover {
    background: #c7c7c7;
    cursor: pointer;
    transform: scale(1.05);
}
